html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.wrapper {
    max-inline-size: 1350px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}

.header-image {
    inline-size: 100px;
    margin: 0;
}


.header-content p {
    font-size: 1.8rem;
}

.main-content, 
.footer-content {
    text-align: center;
}

.footer-content {
    font-size: 1.2rem;
}

/* Gallery Section */

#avocadoGallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    gap: 25px;
}

.card {
    padding-inline: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: -3px 4px 3px 6px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.card:hover {
    cursor: pointer;
    box-shadow: -4px 4px 3px 6px rgba(0, 0, 0, 0.5);
}

.card figure {
    margin: auto;
    inline-size: 75px;
}

.card p {
    font-size: .8rem;
}

.card span,
.serialNumber {
    font-weight: 700;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    #avocadoGallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        block-size: 350px;
        justify-self: center;
    }

}

@media (min-width: 1024px) {
    #avocadoGallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        max-inline-size: 350px;
    }

    .card p {
        font-size: 1.2rem;
    }
}