html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.8rem;
}

p {
    font-size: 1.6rem;
}

.wrapper {
    max-inline-size: 1350px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}

.header-image {
    inline-size: 100px;
    margin: 0;
}


.header-content p {
    font-size: 1.8rem;
}

.main-content, 
.footer-content {
    text-align: center;
}

.footer-content {
    font-size: 1.2rem;
}